# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
project.lock.json
project.fragment.lock.json
*.db
*.db-journal

# Local environment and secrets
.env
.env.*
!.env.example
secrets.json

# Logs
logs/
*.log

# Visual Studio Code
.vscode/

# Bibliotecas de terceiros
src/FinTech.App/wwwroot/lib/
